.navbar {
  background-color: #f8f9fa;
  color: #007bff;
  padding: 10px;
  /* display: flex;  */
  justify-content: space-between;
  align-items: center; 
}

.end-items {
  margin-left: auto;
}

.p-menubar {
  background-color: transparent;
}

.p-menuitem-link {
  color: #1162b8;
}

.p-menuitem-link:hover {
  color: #007bff;
}
.questions-button {
  margin-left: 30px; 
}